<div class="container">
  <div class="row my-5">
    <h2 class="px-3 text-center">レビュー詳細</h2>
  </div>
  
  <div class="row my-5 justify-content-center">
    <div class="col-lg-4 col-md-12 text-center">
      <%= link_to admin_canned_food_path(@canned_food.id) do %>
        <div>
          <%= image_tag @canned_food.get_image(200,100), class: "image" %>
        </div>
        <div>
          缶詰名： <%= @canned_food.canned_name %>
        </div>
      <% end %>
      <div>
        <% @tags.each do |tag| %>
          タグ： <%= tag.name %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 border border-primary text-break overflow-auto description-box">
      <%=safe_join(@canned_food.description.split("\n"),tag(:br))%>
    </div>
  </div>
  
  <div class="row my-5 text-center">
    <div class="col-12">
      <h5 class="row justify-content-center">
        <%= link_to admin_member_path(@review.member) do %>
          <%= @review.member.nickname %>さんの評価
         <% end %> 
      </h5>
      
      <div class="row mt-3">
        <div class="col-3">
          賞味期限
          <%= render "admin/reviews/rate_read_only", review: @review, type: 'expiry_date_rating' %>
        </div>
        <div class="col-3">
          おいしさ
          <%= render "admin/reviews/rate_read_only", review: @review, type: 'taste_rating' %>
        </div>
        <div class="col-3">
          おつまみ
          <%= render "admin/reviews/rate_read_only", review: @review, type: 'snack_rating' %>
        </div>
        <div class="col-3">
          アウトドア
          <%= render "admin/reviews/rate_read_only", review: @review, type: 'outdoor_rating' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h5 class="col-12 text-center">
      コメント一覧（コメント数： <%= @review.comments.count %>）
    </h5>
  </div>

  <div class="row my-3 justify-content-center">
    <div class="col-12">
      <%= render "comment_list", comments: @comments, review: @review %>
    </div>
  </div>
  
  <div class="row">
    <div class="mx-auto my-2">
      <%= paginate @comments %>
    </div>
  </div>
</div>