<div class="container">
  <div class="row offset-2 my-5">
    <h2 class="px-3 text-center bg-info">管理者ログイン</h2>
  </div>
    
  <%= form_with(url: session_path(resource_name), local: true) do |f| %>
    <div class="row mt-5 justify-content-center">
      <div class="field form-group">
        <%= f.label :"📧メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size: 40 %>
      </div>
    </div>
    
    <div class="row my-2 justify-content-center">
      <div class="field form-group">
          <%= f.label :"🔒パスワード" %>
          <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <div class="row mt-2 justify-content-center">
      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
