<div class="container mt-5">
  <div class="row offset-2 my-5">
    <h3 class="px-3 text-center bg-info">管理者ログイン</h3>
  </div>

  <%= form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row mt-5 justify-content-center">
      <div class="field form-group">
        <%= f.label :email, "📧メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size: 40 %>
      </div>
    </div>
    
    <div class="row my-2 justify-content-center">
      <div class="field form-group">
        <%= f.label :password, "🔒パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="actions mt-2">
        <%= f.submit "ログイン", class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>