<table class="table table-bordered table-striped table-hover">
  <thead class="text-center">
    <th>投稿者</th>
    <th>画像</th>
    <th>コメント内容</th>
    <th></th>
  </thead>
  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td class="col-2 text-center">
          <%= link_to member_path(comment.member) do %>
            <%= image_tag comment.member.get_profile_image(50,50), class: "image" %><br>
            <%= comment.member.nickname %>
          <% end %>
        </td>
        <td class="col-2 text-center">
          <% if comment.image.attached? %>
            <%= image_tag comment.get_image(100,100), class: "image" %>
          <% end %>
        </td>
        <td class="col-7 text-break">
          <%=safe_join(comment.content.split("\n"),tag(:br))%>
        </td>
        <td class="col-1 text-center">
          <% if comment.member == current_member %>
            <%= link_to "削除", review_comment_path(review, comment), method: :delete, class: "btn danger-button" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>