<%= form_with model: comments, url: review_comments_path, local: true do |f| %>
  <div class="row mt-2 mb-5 justify-content-center">
    <div class="col-lg-7 col-md-12">
      <div class="row">
        <div class="col-12">
          <%= f.text_area :content, autofocus: true, placeholder: "コメントをここに", cols: "70", rows: "5" %>
        </div>
        <div class="col-12 mt-2">
          投稿画像がある場合は
          <%= label_tag(nil, class: "image-input-btn") do %>
            <%= f.file_field :image, autofocus: true, accept: "image/*", class: "image-form" %>
            画像アップロード
          <% end %>
          から登録してください。
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-12 d-flex align-items-center">
      <%= f.submit "コメントを送信", class: "btn fixing-button" %>
    </div>
  </div>
<% end %>