<div class="container">
  <div class="row mt-5">
    <h2 class="px-3 text-center">レビュー詳細</h2>
  </div>
  
  <div class="row mt-5 justify-content-center">
    <div class="col-4 text-center">
      <%= link_to canned_food_path(@canned_food) do %>
        <div>
          <%= image_tag @canned_food.get_image(200,100), class: "image" %>
        </div>
        <div>
          缶詰名： <%= @canned_food.canned_name %>
        </div>
      <% end %>
      <div>
        <% @tags.each do |tag| %>
          タグ： <%= tag.name %>
        <% end %>
      </div>
    </div>
    <div class="col-8 border border-primary text-break overflow-auto description-box">
      <%=safe_join(@canned_food.description.split("\n"),tag(:br))%>
    </div>
  </div>
  
  <div class="row mt-5 text-center">
    <div class="col-12">
      <h5 class="row justify-content-center">
        <%= link_to member_path(@review.member) do %>
          <%= @review.member.nickname %>
        <% end %>
        さんの評価
      </h5>
      
      <div class="row mt-3">
        <%= render "public/reviews/review_read_only", review: @review %>
      </div>
      
      <div class="row mt-3 justify-content-center">
        <% if @review.member == current_member %>
          <%= link_to "レビュー編集画面へ", canned_food_path(@canned_food), method: :get, class:'btn primary-button mr-5' %>
          <%= link_to "レビューを削除", review_path(@review.id), method: :delete, class: 'btn danger-button' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h5 class="col-12 text-center">
      コメント一覧（
      <%= render "count", comment: @review.comments %>
      ）
    </h5>
  </div>

  <div class="row mt-3 justify-content-center">
    <div class="col-12">
      <%= render "comment_list", comments: @comments, review: @review %>
    </div>
  </div>
  
  <div class="row my-2">
    <div class="mx-auto">
      <%= paginate @comments %>
    </div>
  </div>
  
  <% if !@member.guest_member? %>
    <%= render "comment", comments: @comments %>
  <% end %>
</div>