<div class="row my-3 justify-content-center">
  <div class="col-lg-3 col-md-12 p-3 text-center display-box">
    <%= link_to canned_food_path(canned_food) do %>
      <%= image_tag canned_food.get_image(150,100), class: "image" %><br>
      <%= canned_food.canned_name %>
    <% end %>
    <p>（総合レビュー数：<%= canned_food.reviews.count %>）</p>
  </div>
  <div class="col-lg-9 col-md-12 d-flex align-items-center justify-content-center display-box">
    <div class="row">
      <%= render "public/reviews/review_average", canned_food: canned_food %>
    </div>
  </div>
</div>