<% if canned_food.is_canned_status == true %>
  <div class="row my-3 justify-content-center">
    <div class="col-lg-3 col-md-12 p-3 text-center canned-food-box">
      <%= link_to canned_food_path(canned_food) do %>
        <%= image_tag canned_food.get_image(150,100), class: "image" %><br>
        <%= canned_food.canned_name %>
      <% end %>
      <p class="m-0">（総合レビュー数：<%= canned_food.reviews.count %>）</p>
    </div>
    <div class="col-lg-9 col-md-12 d-flex align-items-center justify-content-center canned-food-box">
      <div class="row">
        <div class="col-lg-3 col-md-12 my-2 text-center">
          <div class="detail-review">賞味期限</div>
          <%= render "public/reviews/rate_average.html.erb", canned_food: canned_food, ave: canned_food.reviews.average(:expiry_date_rating) || 0, type: 'expiry_date_ave' %>
        </div>
        <div class="col-lg-3 col-md-12 my-2 text-center">
          <div class="detail-review">おいしさ</div>
          <%= render "public/reviews/rate_average.html.erb", canned_food: canned_food, ave: canned_food.reviews.average(:taste_rating) || 0, type: 'taste_ave' %>
        </div>
        <div class="col-lg-3 col-md-12 my-2 text-center">
          <div class="detail-review">おつまみ</div>
          <%= render "public/reviews/rate_average.html.erb", canned_food: canned_food, ave: canned_food.reviews.average(:snack_rating) || 0, type: 'snack_ave' %>
        </div>
        <div class="col-lg-3 col-md-12 my-2 text-center">
          <div class="detail-review">アウトドア</div>
          <%= render "public/reviews/rate_average.html.erb", canned_food: canned_food, ave: canned_food.reviews.average(:outdoor_rating) || 0, type: 'outdoor_ave' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <!-- 表示ステータスがfalseである場合は、表示しない -->
<% end %>
  