<div class="row mb-5 text-center justify-content-center">
  <div class="col-lg-3 col-md-12 mb-2">
    <h6>評価で絞り込み</h6>
  </div>
  <div class="col-lg-2 col-md-12 mb-2">
    <%= form_tag path, method: :get do %>
      <%= select_tag :expiry_date_rating, options_for_select((1..5).map { |n| ["賞味期限 ☆#{n}以上".html_safe, n] }, expiry_date_rating), onchange: 'this.form.submit()' %>
      <%= hidden_field_tag :find_review, 'expiry_date_rating' %>
      <%= hidden_field_tag :taste_rating, taste_rating %>
      <%= hidden_field_tag :snack_rating, snack_rating %>
      <%= hidden_field_tag :outdoor_rating, outdoor_rating %>
      <%= hidden_field_tag :word, word %>
      <%= hidden_field_tag :tag_id, tag_id %>
    <% end %>
  </div>
  <div class="col-lg-2 col-md-12 mb-2">
    <%= form_tag path, method: :get do %>
      <%= select_tag :taste_rating, options_for_select((1..5).map { |n| ["おいしさ ☆#{n}以上".html_safe, n] }, taste_rating), onchange: 'this.form.submit()' %>
      <%= hidden_field_tag :find_review, 'taste_rating' %>
      <%= hidden_field_tag :expiry_date_rating, expiry_date_rating %>
      <%= hidden_field_tag :snack_rating, snack_rating %>
      <%= hidden_field_tag :outdoor_rating, outdoor_rating %>
      <%= hidden_field_tag :word, word %>
      <%= hidden_field_tag :tag_id, tag_id %>
    <% end %>
  </div>
  <div class="col-lg-2 col-md-12 mb-2">
    <%= form_tag path, method: :get do %>
      <%= select_tag :snack_rating, options_for_select((1..5).map { |n| ["おつまみ ☆#{n}以上".html_safe, n] }, snack_rating), onchange: 'this.form.submit()' %>
      <%= hidden_field_tag :find_review, 'snack_rating' %>
      <%= hidden_field_tag :expiry_date_rating, expiry_date_rating %>
      <%= hidden_field_tag :taste_rating, taste_rating %>
      <%= hidden_field_tag :outdoor_rating, outdoor_rating %>
      <%= hidden_field_tag :word, word %>
      <%= hidden_field_tag :tag_id, tag_id %>
    <% end %>
  </div>
  <div class="col-lg-2 col-md-12 mb-2">
    <%= form_tag path, method: :get do %>
      <%= select_tag :outdoor_rating, options_for_select((1..5).map { |n| ["アウトドア ☆#{n}以上".html_safe, n] }, outdoor_rating), onchange: 'this.form.submit()' %>
      <%= hidden_field_tag :find_review, 'outdoor_rating' %>
      <%= hidden_field_tag :expiry_date_rating, expiry_date_rating %>
      <%= hidden_field_tag :taste_rating, taste_rating %>
      <%= hidden_field_tag :snack_rating, snack_rating %>
      <%= hidden_field_tag :word, word %>
      <%= hidden_field_tag :tag_id, tag_id %>
    <% end %>
  </div>
</div>