<div class="container">
  <div class="row offset-1 my-5">
    <h2 class="px-3 text-center">缶詰一覧</h2>
    
    <div class="search_form offset-1 d-flex align-items-center">
      <%= form_with url: canned_foods_search_path, local: true, method: :get do |f| %>
        <div class="d-flex align-items-center justify-content-center">
          <%= f.text_field :word, placeholder:"缶詰名", class:"mr-2" %>
          <%= f.hidden_field :range, value: "缶詰"%> 
          <%= f.hidden_field :search, value: "partial"%>
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    
    <div class="search_form offset-1 d-flex align-items-center">
      <%= form_with url: canned_foods_search_tag_path, method: :get, class: 'boards_searchForm' do |f| %>
        <%= f.collection_select(:tag_id, Tag.all, :id, :name, { prompt: 'タグで絞り込み検索' }) %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= link_to "新しい順", canned_foods_path(sort_created_at: 'created_at desc') %> 
    |
    <%= link_to "古い順", canned_foods_path(sort_created_at: 'created_at asc') %> 
    |
    <%= link_to "賞味期限評価の高い順", canned_foods_path(sort_review: 'expiry_date_rating') %>
    |
    <%= link_to "おいしさ評価の高い順", canned_foods_path(sort_review: 'taste_rating') %>
    |
    <%= link_to "おつまみ評価の高い順", canned_foods_path(sort_review: 'snack_rating') %>
    |
    <%= link_to "アウトドア評価の高い順", canned_foods_path(sort_review: 'outdoor_rating') %>
  </div>
    
  <div class="row my-5 justify-content-center">
    <div class="col-2">
      <p>評価絞り込み検索</p>
    </div>
    <div class="col-2">
      <%= form_tag canned_foods_path, method: :get do %>
        <%= select_tag :rate, options_for_select((1..5).map { |n| ["賞味期限 評価#{n}".html_safe, n] }), onchange: 'this.form.submit()' %>
        <%= hidden_field_tag :find_review, 'expiry_date_rating' %>
      <% end %>
    </div>
    <div class="col-2">
      <%= form_tag canned_foods_path, method: :get do %>
        <%= select_tag :rate, options_for_select((1..5).map { |n| ["おいしさ 評価#{n}".html_safe, n] }), onchange: 'this.form.submit()' %>
        <%= hidden_field_tag :find_review, 'taste_rating' %>
      <% end %>
    </div>
    <div class="col-2">
      <%= form_tag canned_foods_path, method: :get do %>
        <%= select_tag :rate, options_for_select((1..5).map { |n| ["おつまみ 評価#{n}".html_safe, n] }), onchange: 'this.form.submit()' %>
        <%= hidden_field_tag :find_review, 'snack_rating' %>
      <% end %>
    </div>
    <div class="col-2">
      <%= form_tag canned_foods_path, method: :get do %>
        <%= select_tag :rate, options_for_select((1..5).map { |n| ["アウトドア 評価#{n}".html_safe, n] }), onchange: 'this.form.submit()' %>
        <%= hidden_field_tag :find_review, 'outdoor_rating' %>
      <% end %>
    </div>
  </div>

  <% @canned_foods.each do |canned_food| %>
    <%= render "public/canned_foods/index.html.erb", canned_food: canned_food %>
  <% end %>
  
  <div class="row">
    <div class="mx-auto my-2">
      <%= paginate @canned_foods %>
    </div>
  </div>
</div>