<div class="container">
  <div class="row offset-1 my-5">
    <h2 class="px-3 text-center bg-info">缶詰一覧</h2>
    
    <div class="search_form offset-1 d-flex align-items-center">
      <%= form_with url: canned_foods_search_path, local: true, method: :get do |f| %>
        <div class="d-flex align-items-center justify-content-center">
          <%= f.text_field :word, placeholder:"缶詰名", class:"mr-2" %>
          <%= f.hidden_field :range, value: "缶詰"%> 
          <%= f.hidden_field :search, value: "partial"%>
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    
    <div class="search_form offset-1 d-flex align-items-center">
      <%= form_tag canned_foods_search_tag_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id,
            options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
            {
              prompt: 'タグで絞り込み検索',
              onchange: 'submit(this.form);'
            }
        %>
      <% end %>
    </div>
  </div>

  <div class="search_form offset-4 mb-3 d-flex align-items-center">
    絞り込み検索用　未実装
  </div>

  <div class="row my-2">
    <% @canned_foods.each do |canned_food| %>
      <table class="table table-bordered text-center">
        <tbody>
          <tr>
            <tb class="col-3 text-center d-flex align-items-center justify-content-center">
              <%= link_to canned_food_path(canned_food) do %>
                <div>
                  <%= image_tag canned_food.get_image(150,100), class: "image" %>
                </div>
                <div>
                  <%= canned_food.canned_name %>
                </div>
              <% end %>
            </tb>
            <tb class="col-2 my-3">
              <div class="detail-review">賞味期限</div>
              <%= render "public/reviews/rate_average.html.erb", canned_food: canned_food, ave: canned_food.reviews.average(:expiry_date_rating) || 0, type: 'expiry_date_ave' %>
            </tb>
            <tb class="col-2 my-3">
              <div class="detail-review">おいしさ</div>
              <%= render "public/reviews/rate_average.html.erb", canned_food: canned_food, ave: canned_food.reviews.average(:taste_rating) || 0, type: 'taste_ave' %>
            </tb>
            <tb class="col-2 my-3">
              <div class="detail-review">おつまみ</div>
              <%= render "public/reviews/rate_average.html.erb", canned_food: canned_food, ave: canned_food.reviews.average(:snack_rating) || 0, type: 'snack_ave' %>
            </tb>
            <tb class="col-2 my-3">
              <div class="detail-review">アウトドア</div>
              <%= render "public/reviews/rate_average.html.erb", canned_food: canned_food, ave: canned_food.reviews.average(:outdoor_rating) || 0, type: 'outdoor_ave' %>
            </tb>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
  
  <div class="row">
    <div class="mx-auto my-2">
      <%= paginate @canned_foods %>
    </div>
  </div>
</div>