<div class="container">
  <div class="row my-5">
    <h2 class="col-md-auto col-sm-12 px-3 text-center">
      "<%= @word %>"の検索結果
    </h2>
  </div>
  
  <!--各評価の高い順表示-->
  <%= render "sorted_ratings", url_for: canned_foods_search_path, expiry_date_rating: @expiry_date_rating, taste_rating: @taste_rating, snack_rating: @snack_rating, outdoor_rating: @outdoor_rating, word: @word, tag_id: nil %>
  
  <!--各評価での絞り込み表示-->
  <%= render "rating_filter", path: canned_foods_search_path, expiry_date_rating: @expiry_date_rating, taste_rating: @taste_rating, snack_rating: @snack_rating, outdoor_rating: @outdoor_rating, word: @word, tag_id: nil %>
  
  <!--検索結果表示-->
  <%= render "search", canned_foods: @canned_foods %>
  
  <div class="row">
    <div class="mx-auto my-2">
      <%= paginate @canned_foods %>
    </div>
  </div>
</div>