<div class="container">
  <div class="row mt-5">
    <h2 class="col-md-auto col-sm-12 px-3 text-center">缶詰詳細</h2>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-lg-3 col-md-12 d-flex flex-column align-items-center justify-content-center display-box">
      <div>
        <%= image_tag @canned_food.get_image(200,100), class: "image" %>
      </div>
      <div>
        缶詰名： <%= @canned_food.canned_name %>
      </div>
      <div>
        <% @tags.each do |tag| %>
          タグ： <%= tag.name %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 d-flex align-items-center justify-content-center display-box">
      <div class="row">
        <div class="col-12 mt-2 justify-content-center d-flex align-items-center">
          総合レビュー数：<%= @canned_food.reviews.count %>
        </div>
        
        <%= render "public/reviews/review_average", canned_food: @canned_food %>
        
        <!-- ゲストログインでない場合にお気に入り登録を可能にする -->
        <% if !@member.guest_member? %>
          <div class="col-12 my-3 justify-content-center">
            <%= render "/public/favorites/index", canned_food: @canned_food %>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="col-12 display-box">
      <div class="col-lg-3 col-md-12 mt-3 text-center">
        <h6>缶詰説明</h6>
      </div>
      <div class="my-2 border border-primary bg-light text-break overflow-auto description-box">
        <%=safe_join(@canned_food.description.split("\n"),tag(:br))%>
      </div>
    </div>
  </div>

  <!-- ゲストログインでない場合にレビューを可能にする -->
  <% if !@member.guest_member? %>
    <% if @review.id.blank? %>
      <%= form_with model: @review, local: true do |f| %>
        <%= f.hidden_field :canned_food_id, value:  @review.canned_food_id %>
        <div class="row my-4 justify-content-center">
          <%= render "public/reviews/review_rating", review: @review %>
        </div>
        <div class="row my-4 d-flex flex-column align-items-center justify-content-center">
          <%= f.submit "レビュー追加", class: "btn fixing-button" %>
        </div>
      <% end %>

    <% else %>
      <%= form_with model: @review, url: review_path(@review.id), local: true do |f| %>
        <%= f.hidden_field :canned_food_id, value:  @review.canned_food_id %>
        <div class="row my-4 justify-content-center">
          <%= render "public/reviews/review_rating", review: @review %>
        </div>
        <div class="row my-4 d-flex flex-column align-items-center justify-content-center">
          <%= f.submit "レビュー編集", class: "btn edit-button" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="row my-5 justify-content-center">
    <%= link_to "レビュー 一覧", canned_food_reviews_path(@canned_food.id), class: "btn primary-button" %>
  </div>
</div>
