<div class="container">
  <div class="row mt-5">
    <h2 class="px-3 text-center">缶詰詳細</h2>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-lg-3 col-md-12 d-flex flex-column align-items-center justify-content-center canned-food-box">
      <div>
        <%= image_tag @canned_food.get_image(200,100), class: "image" %>
      </div>
      <div>
        缶詰名： <%= @canned_food.canned_name %>
      </div>
      <div>
        <% @tags.each do |tag| %>
          タグ： <%= tag.name %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-9 col-md-12 d-flex align-items-center justify-content-center canned-food-box">
      <div class="row">
        <div class="col-lg-3 col-md-12 mt-2 text-center">
          <div class="detail-review">賞味期限</div>
          <%= render "public/reviews/rate_average.html.erb", canned_food: @canned_food, ave: @expiry_date_avg, type: 'expiry_date_ave' %>
        </div>
        <div class="col-lg-3 col-md-12 mt-2 text-center">
          <div class="detail-review">おいしさ</div>
          <%= render "public/reviews/rate_average.html.erb", canned_food: @canned_food, ave: @taste_avg, type: 'taste_rate_ave' %>
         </div>
        <div class="col-lg-3 col-md-12 mt-2 text-center">
          <div class="detail-review">おつまみ</div>
          <%= render "public/reviews/rate_average.html.erb", canned_food: @canned_food, ave: @snack_avg, type: 'snack_rate_ave' %>
        </div>
        <div class="col-lg-3 col-md-12 mt-2 text-center">
          <div class="detail-review">アウトドア</div>
          <%= render "public/reviews/rate_average.html.erb", canned_food: @canned_food, ave: @outdoor_avg, type: 'outdoor_rate_ave' %>
        </div>
        <div class="col-12 my-3 justify-content-center">
          <%= render "/public/favorites/btn", canned_food: @canned_food %>
        </div>
      </div>
    </div>
    
    <div class="col-12 canned-food-box">
      <div class="col-lg-3 col-md-12 mt-3 text-center">
        <h6>缶詰説明 </h6>
      </div>
      <div class="my-2 border border-primary bg-light text-break overflow-auto" style="height: 300px">
        <%=safe_join(@canned_food.description.split("\n"),tag(:br))%>
      </div>
    </div>
  </div>

  <!-- 会員がログインしていない、かつゲストログインでない場合にレビューを可能にする -->
  <% if member_signed_in? && !@member.guest_member? %>
    <% if @review.id.blank? %>
      <%= form_with model: @review, local: true do |f| %>
        <%= f.hidden_field :canned_food_id, value:  @review.canned_food_id %>
        <div class="row my-4 justify-content-center">
          <div class="col-3">
            <%= f.label :expiry_date_rating,'賞味期限', class:'col-form-label' %>
            <%= render "public/reviews/rating.html.erb", review: @review, type: 'expiry_date_rating' %>
          </div>

          <div class="col-3">
            <%= f.label :taste_rating,'おいしさ', class:'col-form-label' %>
            <%= render "public/reviews/rating.html.erb", review: @review, type: 'taste_rating' %>
          </div>

          <div class="col-3">
            <%= f.label :snack_rating,'おつまみ', class:'col-form-label' %>
            <%= render "public/reviews/rating.html.erb", review: @review, type: 'snack_rating' %>
          </div>

          <div class="col-3">
            <%= f.label :outdoor_rating,'アウトドア', class:'col-form-label' %>
            <%= render "public/reviews/rating.html.erb", review: @review, type: 'outdoor_rating' %>
          </div>
        </div>

        <div class="my-4 d-flex flex-column align-items-center justify-content-center">
          <%= f.submit "レビュー追加", class: "btn fixing_button" %>
        </div>
      <% end %>

    <% else %>
      <%= form_with model: @review, url: review_path(@review.id), local: true do |f| %>
        <%= f.hidden_field :canned_food_id, value:  @review.canned_food_id %>
        <div class="row my-4 justify-content-center">
          <div class="col-3">
            <%= f.label :expiry_date_rating,'賞味期限', class:'col-form-label' %>
            <%= render "public/reviews/rating.html.erb", review: @review, type: 'expiry_date_rating' %>
          </div>

          <div class="col-3">
            <%= f.label :taste_rating,'おいしさ', class:'col-form-label' %>
            <%= render "public/reviews/rating.html.erb", review: @review, type: 'taste_rating' %>
          </div>

          <div class="col-3">
            <%= f.label :snack_rating,'おつまみ', class:'col-form-label' %>
            <%= render "public/reviews/rating.html.erb", review: @review, type: 'snack_rating' %>
          </div>

          <div class="col-3">
            <%= f.label :outdoor_rating,'アウトドア', class:'col-form-label' %>
            <%= render "public/reviews/rating.html.erb", review: @review, type: 'outdoor_rating' %>
          </div>
        </div>

        <div class="my-4 d-flex flex-column align-items-center justify-content-center">
          <%= f.submit "レビュー編集", class: "btn edit_button" %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="row my-5 justify-content-center">
    <%= link_to "レビュー 一覧", canned_food_reviews_path(@canned_food.id), class: "btn primary_button" %>
  </div>
</div>
