<div class="row">
  <div class="col-lg-3 col-md-12 my-2 text-center">
    賞味期限
    <%= render "rate_read_only", review: review, type: 'expiry_date_rating' %>
  </div>
  <div class="col-lg-3 col-md-12 my-2 text-center">
    おいしさ
    <%= render "rate_read_only", review: review, type: 'taste_rating' %>
  </div>
  <div class="col-lg-3 col-md-12 my-2 text-center">
    おつまみ
    <%= render "rate_read_only", review: review, type: 'snack_rating' %>
  </div>
  <div class="col-lg-3 col-md-12 my-2 text-center">
    アウトドア
    <%= render "rate_read_only", review: review, type: 'outdoor_rating' %>
  </div>
  <div class="col-12 my-3 text-center">
    <div class="text-center mb-2">コメント数： <%= review.comments.count %></div>
    <div class="text-center mb-2">
      <%= link_to "レビュー詳細", admin_review_comments_path(review.id), class: "btn primary-button" %>
      <%= link_to "レビュー削除", admin_review_path(review.id), method: :delete, class: 'btn danger-button' %>
    </div>
  </div>
</div>