<div class="container">
  <div class="row offset-1 my-5">
    <h2 class="px-3 text-center bg-info">缶詰編集</h2>
  </div>
  
  <% if @canned_food.errors.any? %>
    <h3>
      <%= @canned_food.errors.count %>件のエラーが発生したため、保存されませんでした:
    </h3>
    <ul>
      <% @canned_food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row d-flex justify-content-center">
  　<%= form_with model: @canned_food, url: admin_canned_food_path(@canned_food), method: :patch do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>缶詰名</td>
            <td><%= f.text_field :canned_name, autofocus: true, placeholder: "缶詰名", class: "form-control" %></td>
          </tr>
          <tr>
            <td>缶詰説明</td>
            <td><%= f.text_area :description, autofocus: true, placeholder: "ここに説明文を記述します", class: "form-control", cols: "80", rows: "7" %></td>
          </tr>
          <tr>
            <td>缶詰画像</td>
            <td><%= f.file_field :image, autofocus: true, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>缶詰タグ</td>
            <td>
              <%= f.collection_select :tag_ids, Tag.all, :id, :name, autofocus: true, multiple: true, include_blank: "--選択してください--", class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td>表示ステータス</td>
            <td>
              <%= f.radio_button :is_canned_status, :true,class:"form-check-input ml-2" %>
              <%= f.label :is_canned_status, "表示",class:"form-check-label ml-4" %>

              <%= f.radio_button :is_canned_status, :false,class:"form-check-input ml-2" %>
              <%= f.label :is_canned_status, "非表示",class:"form-check-label ml-4" %>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="my-4 text-center">
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>