<div class="container">
  <div class="row offset-2 my-5">
    <div class="col-md-4 title-color">
      <h4 class="px-3 text-center bg-info">缶詰詳細</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 d-flex text-center justify-content-center align-items-center">
      <%= image_tag @canned_food.get_image(400,400), class: "image" %>
    </div>
    <div class="col-8 d-flex justify-content-center mr-5">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>缶詰名</td>
            <td><%= @canned_food.canned_name %></td>
          </tr>
          <tr>
            <td>缶詰説明</td>
            <td><%= @canned_food.description %></td>
          </tr>
          <tr>
            <td>缶詰タグ</td>
            <td><%= @canned_food.canned_tags.tags.name %></td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <% if @canned_food.is_canned_status == true %>
                <strong class="text-success"><%= "表示" %></strong>
              <% else %>
                <strong class="text-danger"><%= "非表示" %></strong>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="mt-3 text-center">
    <%= link_to "編集する", edit_admin_canned_food_path(@canned_food.id), class: "btn btn-success" %>
    <%= link_to "一覧に戻る", admin_canned_foods_path, class: "btn btn-info btn-lg" %>
  </div>
  </div>
</div>