<div class="container">
  <div class="row offset-2 mt-5 mb-2">
    <h2 class="px-3 text-center">会員情報編集</h2>
  </div>
  
  <%= form_with model: @member, url: members_information_path do |f| %>
    <%= render "public/shared/error_messages", resource: @member %>
    <div class="row d-flex align-items-center justify-content-center">
      <table class="table-bordered member_info">
        <tbody>
          <tr class="field">
            <th class="p-3 text-center table-info align-middle">
              <i class="fa-regular fa-user"></i>
              <%= f.label :"ニックネーム" %>
            </th>
            <td class="p-3 align-middle">
              <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "カンヅメ", size: 40 %>
            </td>
          </tr>
          <tr class="field">
            <th class="p-3 text-center table-info align-middle">
              <i class="fa-regular fa-envelope"></i>
              <%= f.label :"メールアドレス" %>
            </th>
            <td class="p-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size: 40 %>
            </td>
          </tr>
          <tr class="field">
            <th class="p-3 text-center table-info align-middle">
              <i class="fa-solid fa-phone"></i>
              <%= f.label :"電話番号(ハイフンなし)" %>
            </th>
            <td class="p-3">
              <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "00000000000", size: 40 %>
            </td>
          </tr>
          <tr class="field">
            <th class="p-3 text-center table-info align-middle">
              <i class="fa-solid fa-image-portrait"></i>
              <%= f.label :"プロフィール画像" %>
            </th>
            <td class="p-3">
              <%= f.file_field :image, accept: "image/*" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mt-5 justify-content-center">
      <%= f.submit "編集内容を保存", class: "btn edit_button" %>
      <%= link_to "退会する", members_unsubscribe_path, class: "offset-1 btn danger_button" %>
    </div>
  <% end %>
</div>