<div class="container">
  <div class="row offset-1 my-5">
    <h2 class="px-3 text-center">マイページ</h2>
  </div>

  <div class="row offset-2 my-3">
    <div class="mr-5 d-flex align-items-center">
      <h5 class="px-3 text-center">登録情報</h5>
    </div>

    <% unless @member.guest_member? %>
      <div class="d-flex align-items-center">
        <%= link_to "編集する", members_information_edit_path, class: "btn edit_button" %>
      </div>
    <% end %>
  </div>

  <div class="row my-5 justify-content-center">
    <div class="col-3 text-center">
      <% if @member.image.attached? %>
        <%= image_tag @member.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      <p>
        ニックネーム</br>
        <%= @member.nickname %>
      </p>
    </div>

    <table class="col-7 table-bordered">
      <tbody>
        <tr>
          <th class="p-3 text-center table-info align-middle">
            <i class="fa-solid fa-phone"></i>
            電話番号
          </th>
          <td class="p-3 text-center align-middle">
            <%= @member.phone_number %>
          </td>
        </tr>
        <tr>
          <th class="p-3 text-center table-info align-middle">
            <i class="fa-regular fa-envelope"></i>
            メールアドレス
          </th>
          <td class="p-3 text-center align-middle">
            <%= @member.email %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <% unless @member.guest_member? %>
    <div class="row mt-5 text-center justify-content-center">
      <div class="col-lg-3 col-md-6 mb-5">
        <%= link_to "レビュー 一覧", member_path(current_member.id), class: "btn primary_button" %>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <%= link_to "フォロー 一覧", member_followings_path(current_member.id), class: "btn primary_button" %>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <%= link_to "フォロワー 一覧", member_followers_path(current_member.id), class: "btn primary_button" %>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <%= link_to "お気に入り 一覧", favorites_path, class: "btn primary_button" %>
      </div>
    </div>
  <% end %>
</div>