<div class="container">
  <div class="row offset-1 my-5">
    <h2 class="px-3 text-center bg-info">マイページ</h2>
  </div>
  
  <div class="row offset-2 my-3">
    <div class="mr-5 d-flex align-items-center">
      <h4 class="px-3 text-center bg-info">登録情報</h4>
    </div>
    <div class="d-flex align-items-center">
      <%= link_to "編集する", members_information_edit_path, class: "btn btn-success" %>
    </div>
  </div>
  
  <div class="row mt-4 justify-content-center">
    <table class="table table-bordered text-center col-7">
      <tr>
        <td class="col-4 bg-secondary">
          ニックネーム
        </td>
        <td>
          <%= @member.nickname %>
        </td>
      </tr>
      
      <tr>
        <td class="col-4 bg-secondary">
          電話番号
        </td>
        <td>
          <%= @member.phone_number %>
        </td>
      </tr>
      
      <tr>
        <td class="col-4 bg-secondary">
          メールアドレス
        </td>
        <td>
          <%= @member.email %>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="row mt-5 justify-content-center">
    <div>
      <%= link_to "レビュー 一覧", "/members/#{current_member.id}/reviews", class: "btn btn-primary px-4 py-2" %>
    </div>
    
    <div class="offset-1">
      <%= link_to "フォロー 一覧", members_followers_path, class: "btn btn-primary px-4 py-2" %>
    </div>

    <div class="offset-1">
      <%= link_to "お気に入り 一覧", favorites_path, class: "btn btn-primary px-4 py-2" %>
    </div>
  </div>
</div>