<div class="container">
  <div class="row my-5">
    <h2 class="px-3 text-center">
      <%= @member.nickname %>さんのレビュー一覧
    </h2>
  </div>
  
  <div class="row my-4 text-center justify-content-center">
    <div class="col-lg-3 col-md-12 mb-3">
      <%= image_tag @member.get_profile_image(100,100), class: "image" %><br>
      <%= @member.nickname %>  
    </div>
    <div class="col-lg-2 col-md-12 mb-3 justify-content-center d-flex align-items-center">
      レビュー数： <%= @member.reviews.count %>
    </div>
    <div class="col-lg-4 col-md-12 mb-3 justify-content-center d-flex align-items-center">
      <% if !current_member.guest_member? && current_member != @member %>
        <%= render "public/relationships/btn", member: @member %>
      <% end %>
      <% if current_member != @member && current_member.following?(@member) && @member.following?(current_member) %>
        <%= render "public/messages/btn", member: @member, is_room: @is_room, room_id: @room_id, room: @room, entry: @entry %>
      <% end %>
    </div>
  </div>

  <!-- 会員のレビュー一覧 -->
  <% @reviews.each do |review| %>
    <div class="row my-3 justify-content-center">
      <div class="col-lg-3 col-md-12 p-3 text-center display-box">
        <%= image_tag review.canned_food.get_image(150,100), class: "image" %><br>
        <%= review.canned_food.canned_name %>
      </div>
      <div class="col-lg-9 col-md-12 d-flex align-items-center justify-content-center display-box">
        <div class="row">
          <%= render "public/reviews/review_read_only", review: review %>
          <div class="col-12 text-center">
            <%= render "public/comments/count", comment: review.comments %>
          </div>
          <div class="col-12 my-3 text-center">
            <div>
              <%= link_to "レビュー詳細", review_comments_path(review.id), class: "btn primary-button" %>
              <% if review.member == current_member %>
                <%= link_to "レビュー削除", review_path(review.id), method: :delete, class: 'offset-1 btn danger-button' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="mx-auto my-3">
      <%= paginate @reviews %>
    </div>
  </div>
</div>