<div class="container">
  <div class="row my-5">
    <h2 class="px-3 text-center">お気に入り一覧</h2>
    <div class="ml-3 d-flex align-items-center">
      (お気に入り登録数: <%= @favorites.count %>)
    </div>
  </div>
  
  <div class="row my-2">
    <% if @favorites.present? %>
      <% @canned_foods.each do |canned_food| %>
        <div class="col-lg-2 col-sm-3 col-6 text-center d-flex align-items-center justify-content-center">
          <%= link_to canned_food_path(canned_food) do %>
            <div>
              <%= image_tag canned_food.get_image(150,100), class: "image" %>
            </div>
            <div>
              <%= canned_food.canned_name %>
            </div>
          <% end %>
        </div>
        <div class="col-lg-2 col-sm-3 col-6 my-3">
          <div class="text-center justify-content-center">
            <h6>お気に入り登録</h6>
            <div class="d-flex flex-column align-items-center">
              <div id="favorite_btn_<%= canned_food.id %>" %>
                <%= render "/public/favorites/btn", canned_food: canned_food %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col my-5 text-center justify-content-center">
        <h3>お気に入り登録している缶詰が見つかりませんでした。</h3>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="mx-auto my-5">
      <%= paginate @favorites %>
    </div>
  </div>
</div>
