<div class="detail-value", id="<%= type %>-<%= review.id %>"></div> <%# .idでどの評価であるかを取得 %>

<script>
  $('#<%= type %>-<%= review.id %>').empty(); // Turbolinksで星が増殖する現象を解消
  raty(document.querySelector('#<%= type %>-<%= review.id %>'),{
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    score     : <%= review[type] %>,    //scoreオプションで最初の評価内容を取得
    scoreName : 'review[<%= type %>]',  //scoreNameオプションで、新たに評価を保存
  });
</script>