<%= form_with model: review, local: true do |f| %>
  <div class="row my-4 justify-content-center">
    <div class="col-md-3">
      <%= f.label :expiry_date_rating,'賞味期限', class:'col-form-label' %>
      <div id="expiry_date_rating_star"></div>
    </div>

    <div class="col-md-3">
      <%= f.label :taste_rating,'おいしさ', class:'col-form-label' %>
      <div id="taste_rating_star"></div>
    </div>
    
    <div class="col-md-3">
      <%= f.label :snack_rating,'おつまみ', class:'col-form-label' %>
      <div id="snack_rating_star"></div>
    </div>
    
    <div class="col-md-3">
      <%= f.label :outdoor_rating,'アウトドア', class:'col-form-label' %>
      <div id="outdoor_rating_star"></div>
    </div>
  </div>
  
  <% if member_signed_in? %>
    <div class="my-4 d-flex flex-column align-items-center justify-content-center">
      <%= f.submit "レビュー追加" %>
    </div>
  <% end %>
<% end %>

<!-- レビュー用 -->
<script>
  $('#expiry_date_rating_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'review[expiry_date_rating]',
    half: false,
  });
  
  $('#taste_rating_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'review[taste_rating]',
    half: false,
  });
  
  $('#snack_rating_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'review[snack_rating]',
    half: false,
  });
  
  $('#outdoor_rating_star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'review[outdoor_rating]',
    half: false,
  });
</script>