<div id="<%= type %>"></div>

<script>
  $('#<%= type %>').empty(); // Turbolinksで星が増殖する現象を解消
  raty(document.querySelector('#<%= type %>'),{
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    scoreName : 'review[<%= type %>]',
    half      : false,
  });
</script>