<div class="container">
  <div class="row my-5">
    <h2 class="col-md-auto col-sm-12 px-3 text-center">
      レビュー一覧
      <span class="small">(レビュー数：<%= @canned_food.reviews.count %>)</span>
    </h2>
  </div>
  
  <div class="row my-5 justify-content-center">
    <div class="col-lg-4 col-md-12 text-center">
      <%= link_to canned_food_path(@canned_food) do %>
        <div>
          <%= image_tag @canned_food.get_image(200,100), class: "image" %>
        </div>
        <div>
          缶詰名： <%= @canned_food.canned_name %>
        </div>
      <% end %>
      <div>
        <% @tags.each do |tag| %>
          タグ： <%= tag.name %>
        <% end %>
      </div>
      <!-- ゲストログインでない場合にお気に入り登録を可能にする -->
      <% if !@member.guest_member? %>
        <div class="my-3 justify-content-center">
          <%= render "/public/favorites/index", canned_food: @canned_food %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-8 col-md-12 border border-primary text-break overflow-auto description-box">
      <%=safe_join(@canned_food.description.split("\n"),tag(:br))%>
    </div>
  </div>
  
  <!-- 缶詰へのレビュー一覧 -->
  <% if @reviews.present? %>
    <% @reviews.each do |review| %>
      <div class="row my-3 justify-content-center">
        <div class="col-lg-3 col-md-12 p-3 text-center display-box">
          <%= link_to member_path(review.member) do %>
            <%= image_tag review.member.get_profile_image(100,100), class: "image" %><br>
            <%= review.member.nickname %>
          <% end %>  
        </div>
        <div class="col-lg-9 col-md-12 d-flex align-items-center justify-content-center display-box">
          <div class="row">
            <%= render "review_read_only", review: review %>
            <div class="col-12 text-center">
              <%= render "public/comments/count", comment: review.comments %>
            </div>
            <div class="col-12 my-3 text-center">
              <%= link_to "レビュー詳細", review_comments_path(review.id), class: "btn primary-button" %>
              <% if review.member == current_member %>
                <%= link_to "レビュー削除", review_path(review.id), method: :delete, class: 'offset-1 btn danger-button' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col my-5 text-center justify-content-center">
      <h3>この缶詰へのレビューはありません。</h3>
    </div>
  <% end %>
  
  <div class="row">
    <div class="mx-auto my-5">
      <%= paginate @reviews %>
    </div>
  </div>
</div>