<div class="container">
  <div class="row offset-1 my-5">
    <h2 class="px-3 text-center">レビュー一覧</h2>
  </div>
  
  <div class="row my-5 justify-content-center">
    <div class="col-3 text-center">
      <%= link_to canned_food_path(@canned_food) do %>
        <div>
          <%= image_tag @canned_food.get_image(200,100), class: "image" %>
        </div>
        <div>
          缶詰名： <%= @canned_food.canned_name %>
        </div>
      <% end %>
      <div>
        <% @tags.each do |tag| %>
          タグ： <%= tag.name %>
        <% end %>
      </div>
    </div>
    <div class="col-6 border border-primary text-break overflow-auto" style="height: 200px">
      <%=safe_join(@canned_food.description.split("\n"),tag(:br))%>
    </div>
    
    <div>お気に入りボタン</div>
  
  </div>
  
  <div class="row my-5 text-center">
    <% @reviews.each do |review| %>
      <div class="col-2">
        <%= link_to member_path(review.member) do %>
          <%= image_tag review.member.get_profile_image(100,100), class: "image" %><br>
          <%= review.member.nickname %>
        <% end %>  
      </div>
      
      <div class="col-8">
        <div class="row mt-3">
          <div class="col-3">
            賞味期限
            <%= render "public/reviews/rate_read_only.html.erb", review: review, type: 'expiry_date_rating' %>
          </div>
          <div class="col-3">
            おいしさ
            <%= render "public/reviews/rate_read_only.html.erb", review: review, type: 'taste_rating' %>
          </div>
          <div class="col-3">
            おつまみ
            <%= render "public/reviews/rate_read_only.html.erb", review: review, type: 'snack_rating' %>
          </div>
          <div class="col-3">
            アウトドア
            <%= render "public/reviews/rate_read_only.html.erb", review: review, type: 'outdoor_rating' %>
          </div>
        </div>
      </div>
        
      <div class="col-2">
        <div class="mx-2">コメント数： <%= review.comments.count %></div>
        <div>
          <%= link_to "レビュー詳細", review_comments_path(review.id), class: "btn btn-info mb-2" %>
        </div>
      </div>

    <% end %>
  </div>
</div>