<div class="container">
  <div class="row offset-md-2 mt-5">
    <h2 class="col-md-auto col-sm-12 px-3 text-center">ログイン</h2>
  </div>
  
  <%= form_with(model: resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    <div class="row mt-5 justify-content-center">
      <table class="table-information table-bordered">
        <tbody>
          <tr class="field">
            <th class="p-3 text-center table-info align-middle">
              <i class="fa-regular fa-envelope"></i>
              <%= f.label :email, "メールアドレス" %>
            </th>
            <td class="p-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size: 40 %>
            </td>
          </tr>
          <tr class="field">
            <th class="p-3 text-center table-info align-middle">
              <i class="fa-solid fa-lock"></i>
              <%= f.label :password, "パスワード" %>
            </th>
            <td class="p-3">
              <%= f.password_field :password, autocomplete: "current-password", size: 40 %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row my-2 justify-content-center">
      <div class="actions">
        <%= f.submit "ログイン", class:"btn fixing-button" %>
      </div>
    </div>
  <% end %>

  <div class="row my-5 justify-content-center">
    <h5 class="col-md-auto col-sm-12 text-center">会員登録がお済みではない方</h5>
    <p class="col-md-auto col-sm-12 d-flex align-items-center">
      <%= link_to "こちら", new_member_registration_path %>から新規登録を行なってください。
    </p>
  </div>
</div>