<!DOCTYPE html>
<html>
  <head>
    <title>缶詰の星</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fb73c75996.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footer_adjustments">
      <%= render 'layouts/header' %>

      <main>
        <%= yield %>
      </main>
      
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
